// Specific CSS for your home-page
.background-img {
  width: 100vw;
  height: 100vh;
  background-image: url("tinywoof.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  background-color: #28353f;
  color: white;
}

.form-label {
  display: none;
}

.remember {
  display: flex !important;
  justify-content: center;
}

.button-log {
  margin-right: 10px;
}

.forgot-password {
  text-decoration: none !important;
  color: salmon;
  font-weight: lighter;
  font-size: 15px;
}

// .input{
//   margin-bottom: 0 !important;
// }
