
<div>
  <div class="background">
    <% if user_signed_in? %>
      <%= link_to 'Welcome', dogs_path, class: "btn" %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary mx-auto' %>
    <% end %>
      <div class="color-footer ">
  </div>
</div>

