.buttons-sign {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-button {
  background-color: #28353f;
  padding: 6px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.input-sign {
  background-color: white;
}

.form-check {

}
