// Carte du chien


.card-group{
   margin: 30px auto;
}

.link-dog {
  text-decoration: none;
}

.card {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
<<<<<<< HEAD
  box-shadow: 0 0 15px #fee0c0b7;
=======
  box-shadow: 0 0 7px rgba(14, 14, 14, 0.5);
>>>>>>> abafa524595af5e9b76f2fb1346be415bf482c9d
  overflow: hidden;
}

// elements a l'intérieur de la carte

<<<<<<< HEAD
.card > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #fee0c0b7;
}
=======
// .card > img {
//   height: 150px;
//   width: 100%;
//   object-fit: cover;
// }
>>>>>>> abafa524595af5e9b76f2fb1346be415bf482c9d

.card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 3px;
  color: #820000
}

.card p {
  font-size: 14px;
  opacity: 1;
  margin-left: 5px;
  color: #B9005B
}

.card .card-trip-infos {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-location-arrow {
  color: #1363DF;
  font-size: 15px;
  opacity: 0.8;
}

// .wrapper {
//   width: 85%;
//   margin: 0 auto;
//  }

.superbttn{
  border-radius: 200px;
  margin-right: 10px;
 }

.soupere{
  border-radius: 25px;
  margin-left: 20px;
  border: 1px solid #B9005B;
}
