.photocontainer{
  width: 100%;
  height: calc(100vh - 84px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
}

.elementscontain{
  text-align: center;
  margin-bottom: 20px;
}

.photoprofile {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.supertitle{
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.details1{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.bouton-message{
  font-size: 30px;
  font-weight: lighter;
  border: solid 1px white;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: #FF7C7C;
  text-decoration: none;
  color: white;
}
.dogdescription{
color: #820000be;
font-size: 20px;
font-weight: bolder;
margin: 0 auto;
}

.findugame{
  margin: 0 auto;
  text-align: center;
}

.details2{
  font-size: 20px;
  font-weight: lighter;
  border: solid 1px white;
  border-radius: 10px;
  padding: 8px 8px;
  background-color: #FEE0C0;
  text-decoration: none;
  display: inline-block;
  color: black;
}

.addressdog{
  font-size: 20px;
  font-weight: lighter;
  border: solid 1px white;
  border-radius: 10px;
  padding: 8px 8px;
  background-color: #FF7C7C;
  text-decoration: none;
  display: inline-block;
  color: white;
}

.superp{
margin-top: 20px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 110px;

  .card {
    display: inline-block;
    background-color: #8200009a;
    width: 230px;
    height: 90px;
    border-radius: 10px;
  }

  .supercomment{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    }

  .commenticon{
    color: #ff7c7cb5;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
    display: inline-block;
  }

  .supericon{
    text-align: center;
    margin: 0 auto;
  }
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.reviewdog{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.btn{
  background-color: #FF7C7C;
  margin: 8px auto;
  border-radius: 13px;
}
.mapshowdog{
  width: 100px;
  height: 100px;
  position: relative;
}

.form-control{
  width: 300px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 0 25px;
  border: solid 1px #B9005B;
}

.wrapperp {
  width: 85%;
  margin: 0 auto;
  border-radius: 25px;
 }

 .superbttn{
  border-radius: 200px;
 }


 .supericon{
  font-size: 22px;
  font-weight: bold;
  color: white;
 }

 .particulardescri{
  font-size: 22px;
  font-weight: bold;
  color: white;
 }
