// Carte du chien


.card-group{
  margin: 0 auto;
}

.link-dog {
  text-decoration: none;
}

.card {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px #DFF6FF;
  overflow: hidden;
}

// elements a l'intérieur de la carte

.card > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 3px;
  color: #06283D
}

.card p {
  font-size: 12px;
  opacity: 1;
  margin-left: 5px;
  color: #06283D
}

.card .card-trip-infos {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fa-location-arrow {
  color: #1363DF;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
 }

//  body{
//   height: calc(60vh - 100vh)
//  }
