.footer-fix {
  position: fixed;
  bottom: 0;
}

.footer-links {
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px #DFF6FF;
  overflow: hidden;
}

.nav-link {
  font-size: 30px;
  color: #06283D;
  padding: 10px;
  opacity: 0.7;
}
