.message {
  margin-bottom: 8px;

  .message-infos {
    display: flex;
    align-items: center;
    margin: 0 4px;
    font-size: 0.75rem;
    color: rgb(200, 200, 200);

    p {
      margin: 0;
    }

  }

  .message-avatar {
    height: 15px;
    width: 15px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 50%;
    margin: 0 4px;
  }

  .message-content {
    display: flex;
    p {
    width: 80%;
    margin: 0;
    border: 1px rgb(200, 200, 200) solid;
    padding: 8px 16px;
    border-radius: 5px;
    }
  }
}
  // This is what displays the message on the right

.message.sender {
  .message-infos {
    flex-direction: row-reverse;
  }

  .message-content {
    flex-direction: row-reverse;
  }
}

h1 {
  margin: 0, auto;
}

.form-message {
  top: 81vh;
  right:3px;
  position: absolute;
}

.input-group .btn {
  bottom: 1vh;
  background-color: #B9005B;
}

.form-control {
  height: 45px
}

.card-message {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.card-message p {
  font-size: 14px;
  opacity: 1;
  margin-left: 5px;
  color: #B9005B
}

.title-message {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
