.img_preview{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 auto;
}

.doog{
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  color: black;
}


.imgdog{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid white;
}

.wrapperre{
    width: 70vh;
    margin: 0 auto;
    margin-bottom: 85px;
}
