.img_preview{
  border: 2px solid white;
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.imgdog{
  width: 100px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #FF7C7C;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px #FEE0C0;
  margin: 20px;
}

.superlink{
  display: block;
}

.newdog{
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #B9005B;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border: 4px solid #FFFFFF;
    box-shadow: 3px 3px 11px #444444;
    -webkit-box-shadow: 3px 3px 11px #444444;
    -moz-box-shadow: 3px 3px 11px #444444;
    width: 170px;
    height: 50px;
    text-align: center;
}

.piege{
  height: 85px;
}

.reviewtitle{
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: #820000;
}

.supercommenticon{
  font-size: 40px;
  color: #B9005B;
}

.titlemain{
  font-size: 28px;
  color: #820000;
  font-weight: bolder;
  margin-top: 15px;
}


.scrolling-wrapperre {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 20px;

  .carda {
    display: inline-block;
  }
}

.carda{
  text-align: justify;
  width: 220px;
  height: 120px;
  background-color: #ff7c7cb0;
  border-radius: 15px;
}

.contentcaroussel{
  text-align: center;
  font-weight: bolder;
  color: white;
  margin-top: 5px;
}

.content2{
  margin-left: 5px;
}

.pieger{
  height: 90px;
}

.photodogsuper{
  border: 2px solid white;
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.noner{
  text-decoration: none;
}
